doctype html
html
    include ../templades/head.pug

    body(class="theme-image")
        if (!vip)
            include ../templades/adsContent.pug

        - headerMode = 2
        include ../templades/header.pug
        
        section
            div(class="text-center")
                img(src=(bdgePath + "/pub/final_image.png") style="width:600px;max-width:100%" )

                h2(class="p-4 font-weight-bold" style="color:#e91e63") Thank You
                div Unfortunately this project is costing more than I can afford, 
                div i will be forced to close Midback for now. Thanks to everyone who posted and shared their images, you are awesome!
                br
                div(class="text-light") !{'<a href="http://www.retrochan.org/donate">Click here to donate.</a>'} Help Midback to come back, any value is welcome. Minimum budget will be 500.00 USD Thank you for your help!

        include ../templades/fotter.pug
        if (!vip)
            include ../templades/adsContent.pug
                                  