hr {
    border-top: 1px solid var(--color-hr);
}

.color-primary {
    color: var(--color-primary)!important;
}

.color-secondary { 
    color: var(--color-secondary)!important;
}

.color-secondary-dark { 
    color: var(--color-secondary-dark)!important;
}

.color-text-default {
    color: var(--color-text-default);
}

.color-accent {
    color: var(--color-accent)!important;
}

.color-accent-2 {
    color: var(--color-accent-2)!important;
}

.btn-danger {
    background-color: var(--color-accent-2);
}

div {
    color: var(--color-secondary);
}

a {
    color: var(--color-link);
}

a:hover {
    color: var(--color-link-hover);
    text-decoration: unset;
}

.page-title {
    font-weight: bold;
}

.apiContent {
    top: 0;
    position: absolute;
    padding: 8px;
}

.boardContent {
    position: absolute;
    padding: 8px;
}

.theme-templade {
    color: #bebfc0;
    background-color: var(--bgr-default);
}

.passport-form {
    margin: 1em;
}

.drag-file {
    cursor: pointer;
    padding: 1em;
    font-size: 22px;
    border: 4px solid var(--color-hr);
    border-style: dashed;
}

.drag-file:hover {
    border: 4px solid var(--color-accent-2);
    border-style: dashed;
}

.halloween-font {
    font-size: 32px;
    color: var(--color-accent-2);;
    font-family: halloween;
}

.bgr-transparent {
    background: var(--bgr-file-container);
}

.file-container {
    background: var(--bgr-transparent-dark);
    max-width: 40rem;
    padding: 8px;
    margin: 8px;
    display: flex;
    overflow: hidden;
}

.key-content, .uid-content {
    padding: 8px;
    background: var(--bgr-transparent-dark);
    display: flex;
    margin: 4px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-secondary-dark)!important;
    opacity: 1; 
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--color-secondary-dark)!important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--color-secondary-dark)!important;
}

.form-control {
    color: var(--color-primary);;
    background: var(--bgr-input);
    border: 1px solid #ffffff4a;
}

.form-control:focus {
    color: var(--color-primary);
    background: var(--bgr-input);
}

.file-size {
    font-size: 12px;
}

.file-container div {
    margin: auto 0 auto 0;
    padding: 8px;
}

.title {
    font-weight: bold;
    font-family: 'Sarpanch', sans-serif;
    margin: 0;
    padding: 30px;
    color: #ff463c;
    text-shadow: 0.3vmin 0.3vmin 0 #d62ed6, -0.3vmin -0.3vmin 0 #0520bd;
}

.title {
    font-size: 4.5rem;
}

a.title:hover {
    color: #ff463c;
    text-decoration: underline;
}

.main-title {
    font-size: 22px;
    font-weight: bold;
}

.christmas-title {
    font: bolder 18px boulder, sans-serif;
    letter-spacing: -1px;
    font-size: 28px;
    color: #18b93c;
}

.text-color-change {
    color: transparent;
    font-weight: 700;
    background-attachment: scroll;
    background-clip: text;
    -webkit-background-clip: text;
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(to right,red,#ffa600,#fff500,#06ff00,#00c9ff,#2300ff,#ff00fa,red);
    background-size: 200%;
    animation: heading 1s linear infinite;
}

.text-color-change:hover {
    text-decoration: none;
    color: #050d5755;
}

.anim-color-change {
    color: transparent;
    font-weight: 700;
    background-attachment: scroll;
    background-clip: text;
    -webkit-background-clip: text;
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(to right,#cc00ff,#ff00c8,#00aeff,#00c9ff,#00ff4c,#3516fd,#e100ff,#c300ff);
    background-size: 200%;
    animation: heading 1s linear infinite;
    font: bolder 18px boulder, sans-serif;
    letter-spacing: -1px;
    font-size: 28px;
}

@keyframes heading {
    to {
        background-position:200% center
    }
}

.btnRemove {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.btnRemove:hover {
    color : var(--color-accent-2);
}

#postFile {
    display: none;
}

#filePreview img {
    width: 90px;
    object-fit: cover;
    height: 50px;
    overflow: hidden;
}

#filePreview video {
    width: 200px;
    object-fit: cover;
    height: 110px;
    overflow: hidden;
}

.item-audio {
    min-width: 120px;
    max-width: min-content;
    display: grid;
}

.item-audio audio {
    margin-left: 4px;
    margin-right: 4px;
}

.item-audio img {
    opacity: 0.8;
    cursor: pointer;
}

.item-audio img:hover {
    transform: scale(1.05);
    opacity: 1;
}

.item-audio small {
    word-break: break-word;
}

.item-video {
    position: relative;
    width: 220px;
    height: 140px;
    background-color: var(--bgr-default);
}

.item-video::after {
    font-family: sans-serif;
    content: "▶";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000;
    color: #fff;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    padding-left: 4px;
    transform: translate(-50%,-50%);
    opacity: .8;
    box-shadow: 0 0 3px #fff;
    pointer-events: none;
}

.item-video:hover::after {
    opacity: 10;
}

.item-img {
    width: 140px;
    height: 140px;
    border: 1px solid var(--color-frame-bolder);
}

.item-img-sm {
    width: 120px;
    height: 120px;
    border: 1px solid var(--color-frame-bolder);
}

.file-name {
    word-break: break-all;
    font-size: 18px;
}

.item-img img, .item-img-sm img {
    object-fit: contain;
    padding: 0.6em;
    width: 100%;
    height: 100%;
}

.item-video img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.item-img img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

::-webkit-scrollbar {
    height: 8px;  
    width: 10px;
    -webkit-appearance: none;
}
::-webkit-scrollbar-corner { 
    background: var(--color-srollbar); 
}
::-webkit-scrollbar-thumb:horizontal{
    background: var(--color-srollbar); 
}
::-webkit-scrollbar-track {
    background: var(--color-srollbar); 
}
::-webkit-scrollbar-thumb {
    background: var(--color-srollbar); 
    height:100px;
    border-radius:12px;
}

.thread-container {
    max-width:max-content;
}

.img-preview .modal-content {
    background-color: transparent;
}

.modal-img-content {
    background-color: var(--bgr-transparent-dark);
    display: flex;
    justify-content: center;
    padding: 8px;
}

.modal-img-preview {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

/*.item-video img {
    
    background: url("https://douglasgreen.com/demo/responsive-video-play-button/img/play-btn-2.png") no-repeat;
    background-position: 50% 50%;
    background-size: 300%;
}*/

.player-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 96px;
    height: 96px;
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
}

.player-icon:hover {
    cursor: pointer;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
}

.custom-modal-body {
    padding: 0px;
    border: 1px solid rgb(255, 102, 0);
}

.custom-modal-header {
    color: var(--color-primary);
    display: flex;
    background: var(--bgr-modal-header);
    padding: 8px;
}

.pointer-effect {
    cursor: pointer;
}

.modal-img-content img {
    cursor: zoom-in;
}

#zoomCheck {
    display: none;
}
    
#zoomCheck:checked ~ label > img {
    width: 100%;
    height: 100%;
    cursor: zoom-out;
    position: fixed;
    padding: 28px;
    top: 0;
    right: 0;
    cursor: zoom-out;
    background-color: var(--bgr-default);
}

.video-container {
    border: 1px solid var(--bgr-video-preview-container-bolder);
    width: 100%;
}

.video-header {
    background: var(--bgr-video-preview);
    padding: 0.4rem;
}

.video-content {
    padding: 1rem;
    background-color: var(--bgr-video-preview-container);
}

.video-title {
    font-size:20px;
    word-break:break-word;
}

.video-content video {
    width: 100%;
    max-height: 420px;
    object-fit: contain;
}

.color-secondary { 
    color: #d5d5d5;
}

.snow-canvas {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	pointer-events: none;
}

.col-400 {
    max-width: 400px;
    word-break: break-all;
}

@media only screen and (max-width: 800px) {
    #zoomCheck:checked ~ label > img {
        transform: scale(1);
        cursor: auto;
    }
    .modal-img-content img {
        cursor: auto;
    }
    .boardContent {
        display: none;
    }
    .title {
        font-size: 3rem;
    }
    .item-video {
        width: 150px;
        height: 80px;
    }
    .video-content video {
        max-height: 320px;
    }
    .video-title {
        font-size: 14px;
    }
    .col-400 {
        max-width: unset;
    }
    .igr {
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    .title {
        font-size: 2.3rem;
    }
}

.audio-close {
    padding: 8px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-weight: bold;
    cursor: pointer;
}

.audio-close:hover {
    color: var(--color-accent-2);
}

.audio-header {
    font-size: 14px;
    display: flex;
    padding: 8px 8px 0px 8px;
}

.btn-close {
    opacity: 0.8;
}

.btn-close:hover {
    cursor: pointer;
    opacity: 1;
}

.audio-popup {
    max-width: min-content;
    background: var(--bgr-audio-popup);
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 5px;
}

.goal-container {
    display: flex;
    justify-content: center;
}

.goal-content {
    border: 2px solid var(--color-hr);
    border-radius: 8px;
    padding: 8px;
}

.goal-progress-bar {
    width: 330px;
    height: 20px;
    border: 1px solid #616161af;
    background: var(--bgr-transparent-dark);
    border-radius: 4px;
}

.progress-info {
    font-size: 12px;
    padding-left: 4px;
}

.goal-progress-percent {
    background: var(--color-goal-progress);
}

.goal-highlight {
    border: 1px solid var(--color-goal-progress);
    border-radius: 8px;
    padding: 8px;
}

.vip-highlight {
    border: 1px solid var(--color-frame-vip-bolder)!important;
}

.vip-tag {
    font-size: 12px;
    font-weight: bold;
    background-color: var(--color-accent-vip);
    border-radius: 4px;
    padding: 2px;
    margin: 2px;
    color: var(--color-primary);;
    box-shadow: 1px 1px #003509;
    cursor: pointer;
}

.tag-model {
    font-size: 10px;
    font-weight: bold;
    margin-right: 8px;
    border-radius: 4px;
    background-color: var(--bgr-tag-model);
    padding: 2px;
    color: var(--color-primary);
    box-shadow: 1px 1px black;
    cursor: pointer;
}

.audio-vip-highlight {
    filter: hue-rotate(221deg);
    -webkit-filter: hue-rotate(221deg);
    -moz-filter: hue-rotate(221deg);   
}

.vip-video-highlight::after {
    background: var(--color-accent-vip)!important;
}

.patreon-button {
    cursor: pointer;
}

.patreon-button:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
    -moz-filter: brightness(90%);
}

.col-bw {
    min-width: 250px;
    height: fit-content;
    margin: 4px;
    padding-bottom: 8px;
    border-radius: 8px;
    border: 1px solid #c0c0c08e;
}

.file-item {
    padding: 4px;
    margin: 4px;
    background-color: var(--bgr-transparent-dark);
}

.ads-content {
    width:728px; 
    height:90px; 
    border:0px; 
    padding:0; 
    overflow:hidden; 
    background-color: transparent;
}

.pagination {
    margin: 8px;
    display: flex;
    justify-content: end;
}

.pagination .page {
    color: #1b1b1b;
    cursor: pointer;
    font-size: 12px;
    background: var(--color-secondary-dark);
    padding: 4px;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.pagination .page:hover {
    text-decoration: none;
    color: var(--color-text-default);
    background: var(--color-secondary);
}

.pagination .quote {
    color: var(--color-primary);
    background : var(--color-pagination-accent);
}

.pagination .quote:hover {
    color: var(--color-primary);
    background : var(--color-pagination-accent);
}

.pagination .preview {
    color: #1b1b1b;
    font-size: 12px;
    background: var(--bgr-input-2);
    color: var(--color-text-default);
    padding: 4px;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.search-form input {
    width: 120px;
    height: 25px;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    color: var(--color-primary);
    background: var(--bgr-input-2);
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 4px;
}

.search-form input::placeholder {
    color: var(--color-primary)!important;
}

.tag-input {
    width: 6rem;
    color: var(--color-primary);
    background: var(--bgr-input-3);
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid var(--color-hr);
    padding: 4px;
}