@font-face {
    font-family: 'halloween';
    src: url('/css/fonts/font_halloween.ttf')  format('truetype');
    
}

@font-face {
    font-family: 'boulder';
    src: url('/css/fonts/font_boulder.ttf');   
}
