div(class="audio-popup" id="audioPopup" style="display:none")
    div(class="audio-header")
        div(class="color-text-default") !{'<span id="playbackInfo" style="font-size:12px"></span><br>'} Playback: !{'<span id="playbackName"></span>'}
        span(id="audioPopupClose" class="audio-close") X

    hr    
    audio(class="audio-player" controls="" id="audioPlayer")
        source(src="")