div(class="m-4")
    hr
    //-div(class="text-center pb-2")
        a(href=(admin === true ? "/admin" : "/"))
            img(src=(bdgePath + "/pub/MidWatch.png") width="58" height="58")

    div(class="text-center")
        a(href="//wikinet.pro/wiki/RetroChan" class="text-light") 7Retro Engine - RetroChan
        |  · 
        if (vipEnabled === true)
            a(href=(bdgePath + "/vip") class="text-color-change") VIP
        div Copyright is the sole responsibility of the author. Read the rules on the home page to avoid conflicts
        div
            a(href="http://www.wtfpl.net/")
                img(src=(bdgePath + "/pub/wtfpl-badge.png") width="80" height="15" alt="WTFPL")

            |  Powered by Dyoniso - Copyright © Midback 2021-#{new Date().getFullYear()} - Contact: !{'<a class="text-light" href="mailto:7Retro.community@protonmail.com">7Retro.community@protonmail.com</a>'}