div(class="modal img-preview fade" id="imgViewModal" role="dialog")
    div(class="modal-dialog modal-lg")
        div(class="modal-content")
            div(class="modal-body custom-modal-body")
                div(class="custom-modal-header")
                    div(class="mr-auto")
                        div(id="modalPreviewTitle")
                        small(class="pl-2" id="searchUrl")
                    div(class="ml-auto")
                        img(class="btn-close" width="22px" src="/pub/btn_hide.png" id="btnCloseImgPreviewModal")

                div(class="modal-img-content")
                    input(type="checkbox" id="zoomCheck")
                    label(for="zoomCheck")
                        img(class="modal-img-preview" id="modalImgPreview")

    if (!vip)
        include ./adsContent                   
                    