doctype html
html
    include ./head.pug
    style(id="fontStyle")
    include ./themeChecker.pug

    body(class="theme-templade" style=(styleTheme))
        if (!vip)
            include ./adsContent.pug
        include ./header.pug

        section
            input(type="hidden" id="bridgePath" value=(bdgePath))
            input(type="hidden" id="boardPath" value=(board))
            
            div(class="container")
                div(class="text-center")
                    div Unable to process your post. The following errors occurred
                    div(class="p-2 color-accent-2 font-weight-bold" style="font-size:18px;word-break:break-all") !{message}
                    a(href="/" class="font-weight-bold" id="redirectTimer")

        include ./fotter.pug
        if (!vip)
            include ./adsContent.pug

        script(src=(bdgePath + "/js/fonts.js")) 
        script(src=(bdgePath + "/js/redirectAlert.js")) 
            
                                  