div(class="d-flex justify-content-end")
    form(class="search-form" id="searchForm" action=`/${board}` method="GET" enctype="multipart/form-data")
        input(type="text" placeholder="Search File" id="searchContent" name="search" value=(search))