- theme = "theme-image"
- if (board === boards.VIDEOS.path) theme = "theme-video"
- if (board === boards.AUDIOS.path) theme = "theme-audio"
- if (holidays && holidays === 'halloween') theme = "theme-halloween"
- if (holidays && holidays === 'natal') theme = "theme-christmas"
