- styleTheme = "background-image: url('%s');"
if (board)
    if (board === boards.IMAGES.path) 
        - styleTheme = styleTheme.replace('%s', bdgePath + '/assets/theme_image.png')
    if (board === boards.VIDEOS.path) 
        - styleTheme = styleTheme.replace('%s', bdgePath + '/assets/theme_video.png')
    if (board === boards.AUDIOS.path) 
        - styleTheme = styleTheme.replace('%s', bdgePath + '/assets/theme_audio.png')
    if (holidays && holidays === 'halloween') 
        - styleTheme = styleTheme.replace('%s', bdgePath + '/assets/theme_halloween.png')
    if (holidays && holidays === 'natal') 
    - styleTheme = styleTheme.replace('%s', bdgePath + '/assets/theme_christmas.png')
else
    - styleTheme = styleTheme.replace('%s', bdgePath + '/assets/theme_main.png')
