[Unit]
Description="Midback Service"

[Service]
ExecStart=/usr/bin/node app.js
WorkingDirectory=/var/www/midback/
Restart=always
RestartSec=600
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Midback

[Install]
WantedBy=multi-user.target