doctype html
html
    include ../templades/head.pug
    style(id="fontStyle")
    include ../templades/themeChecker.pug

    body(class="theme-templade" style=(styleTheme))
        include ../templades/imgPreview.pug

        if (!vip)
            include ../templades/adsContent.pug

        - headerMode = 18
        include ../templades/header.pug
        
        section
            input(type="hidden" value=(bdgePath) id="bridgePath")
            
            div(class="search-content")
                div(class="container-fluid")
                    div(class="row justify-content-center" id="itemContainer")
                        if (files.length > 0)
                            include ../templades/itemFile.pug
                        else
                            h2 Your search returned no results

        include ../templades/fotter.pug
        if (!vip)
            include ../templades/adsContent.pug
        include ../templades/snow.pug

        include ../templades/audioPopup.pug

        script(src=(bdgePath + "/js/audioPreview.js"))
        script(src=(bdgePath + "/js/manager.js"))
        script(src=(bdgePath + "/js/search.js"))
        script(src=(bdgePath + "/js/fonts.js")) 
                                  